.footer {
    background-color: grey;
    text-align:center;
    margin-left:0px;
    position: fixed;
    bottom: 0;
    width: 100%;    
  }

  .container-fluid
{
    background-color: khaki;
    border-bottom:5px solid green;    
}

.col-xs-12,.col-sm-4,.col-lg-5
    {
        background-color:white;
         margin:50px;   
             
      }

 .col-lg-4 ,.col-md-6,.col-sm-12,.col-xs-12
       {
          background-color:white;
          float: left;
          padding: 5px;
          margin:50px;
               
        }
    
  .col-lg-4 ,.col-md-6,.col-sm-12,.col-xs-12 img {
    margin: 12px;
  }
       
