
.container{
  
  

}

.navbar{
  width:100%;

}


.footer {
  border-top:5px solid green;
    background-color: grey;
    text-align:center;
    margin-left:0px;
     position:fixed;
    bottom: 0; 
    width: 100%;    
  }

  body {background-image: url(https://i.pinimg.com/originals/5d/97/b8/5d97b8478ab7fefd6af1b85225640e6d.jpg);}


.portfolio {
  background-color:white;
  margin-top:50px;
  width: 600px;
  /* height:100%; */
  display:inline-block;
  margin-bottom: 20px;
}

.row{
  margin-top:15px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left:10px;
  
  }
  .col{
    position:relative;
    max-width:25%;
    margin-top:20px;
    background-color: white;
  }
  .container-col{
    position: relative;
    text-align: center;
    color: white;

  }
.container-col-1 {
  margin-left:1px;
}


.image-alt img{
  margin-left:100px;
}
.image-alt-1{
  margin-left:120px;

}
.image-margin{
  margin:5px;
}

.top-left {
  position: relative;
  bottom: 40px;
  left: 16px;
  width: 150px;
  height:20px;
  background-color:cadetblue;

}
.top-left-1 {
  position: absolute;
  bottom: 40px;
  left: 120px;
  background-color:cadetblue;
}
.col-xs-12,.col-sm-4,.col-md-5,.col-lg-5{
  background-color: white;
 
}
.col-lg-6,.col-md-7,.col-sm-12,.col-xs-12
{
  background-color: white; 
}